h1 {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

$width: 48px;
dnd-options {
    flex-direction: column;
    position: fixed;
    inset: 0 auto 0 0;
    width: $width;
}

dnd-sheet {
    margin: 0 0 0 $width;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    $height: 48px;

    dnd-options {
        flex-direction: row;
        justify-content: flex-end;
        position: fixed;
        inset: auto 0 0 0;
        height: $height;
        width: 100%;
    }

    dnd-sheet {
        margin: 0 0 $height 0;
    }
}

@media print {
    dnd-sheet {
        margin: 0;
    }
}
