<img
    src="assets/Saving Throws.svg"
    alt="Saving Throws"
/>
<ul>
    <li
        *ngFor="let ability of data.Abilities"
        class="ability"
    >
        <label>
            <input
                [id]="ability.Name + 'SavingThrowProf'"
                type="checkbox"
                [(ngModel)]="ability.SavingThrows"
            />
        </label>
        <input
            [value]="ability.Modifier"
            type="number"
            readonly
            tabIndex="-1"
            [attr.aria-labelledby]="ability.Name + 'label'"
        />
        <label
            [id]="ability.Name + 'label'"
            [for]="ability.Name + 'SavingThrowProf'"
            >{{ ability.Name }}</label
        >
    </li>
</ul>
<div class="component-name">Saving Throws</div>
