:host {
    aspect-ratio: 7 / 10;
    display: grid;
    gap: 2.5vw;
    grid-template-areas:
        'header header header'
        'abilities combat-infos notes'
        'abilities attacks-and-spellcasting features-and-traits'
        'other-proficiencies-and-languages equipment-and-character-notes equipment-and-character-notes';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;

    > * {
        min-width: 0;
    }

    @media not print {
        padding: 2vw;
    }
}

dnd-header {
    grid-area: header;
}

dnd-abilities {
    grid-area: abilities;
}

dnd-combat-infos {
    grid-area: combat-infos;
}

dnd-notes {
    grid-area: notes;
}

dnd-attacks-and-spellcasting {
    grid-area: attacks-and-spellcasting;
}

dnd-features-and-traits {
    grid-area: features-and-traits;
}

dnd-equipment-and-character-notes {
    grid-area: equipment-and-character-notes;
}

dnd-other-proficiencies-and-languages {
    grid-area: other-proficiencies-and-languages;
}

:host ::ng-deep {
    label,
    .component-name {
        font-size: 1vw;
        font-weight: bold;
        text-transform: uppercase;
    }

    label {
        cursor: pointer;
    }

    input:not([type='checkbox']) {
        background: transparent;
        border: 0;
    }

    textarea {
        background: transparent;
        border: 0;
        font-family: inherit;
        font-size: 1.5vw;
        padding: 0 1vw;
        resize: none;
    }

    /* Buttons bei Input-Number-Elementen verstecken */
    input {
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type='number'] {
            -moz-appearance: textfield;
        }
    }
}

@media print {
    @page {
        size: a4 portrait;
    }
}
