.tooltip {
    background-color: white;
    border: 2px solid lighten(black, 90%);
    border-radius: 4px;
    box-shadow: 0 6px 7px 2px rgb(0 0 0 / 25%);
    color: lighten(black, 30%);
    font-family: inherit;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
    line-height: 1.625;
    padding: 0.25rem 0.5rem;
    position: fixed;
    transform: translateX(-50%);
    max-width: 300px;
    z-index: 999999999;

    &::before {
        content: '';
        border-right: 10px solid transparent;
        border-bottom: 10px solid lighten(black, 90%);
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
        left: calc(50% - 10px);
        height: 0;
        width: 0;
    }
}
