label[for='current-hit-dice'] {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
}

input {
    border: 0;
    font-size: 1.5vw;
    text-align: center;

    &#current-hit-dice {
        font-size: 5vw;
        position: absolute;
        top: 23%;
        right: 5%;
        bottom: 20%;
        left: 5%;
    }
}

.max-hit-dice {
    align-items: center;
    display: grid;
    gap: 0.5vw;
    grid-template-columns: auto 1fr;
    position: absolute;
    top: 3%;
    right: 10%;
    bottom: 77%;
    left: 10%;

    > * {
        min-width: 0;
    }

    input {
        border-bottom: 2px solid gray;
    }
}
