*,
*::after,
*::before {
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:not(:focus-within) {
        outline: 0;
    }
}

html {
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

label,
.component-name {
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    cursor: pointer;
}

input:not([type='checkbox']) {
    background: transparent;
    border: 0;
}

textarea {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: 1.5vw;
    padding: 0 1vw;
    resize: none;
}

/* Buttons bei Input-Number-Elementen verstecken */
input {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type='number'] {
        -moz-appearance: textfield;
    }
}
